:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      /* font-family: Helvetica, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color: '#F6F7F9';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.directionrtl {
  direction: rtl;
}

.directionltr {
  direction: ltr;
}
.swiper-pagination{
  position:unset
}
.swiper-pagination-bullet-active {
  background-color: #4C005A !important;
}

.choosefile {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  background-color: #6777ef;
  width: 150px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: white;
  margin-top: -10px;
  margin-left: 20px;
}

.imgesection {
  border: 2px dashed #ddd;
  border-radius: 3px;
  position: relative;
  background-color: #ffffff;
  color: #ecf0f1;
  margin-bottom: 30px;
  width: 200px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.customgradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 47, 52, 0.16)), color-stop(81.77%, rgba(0, 47, 52, 0.01)), to(rgba(0, 47, 52, 0.01)));
  background: linear-gradient(180deg, rgba(0, 47, 52, 0.16), rgba(0, 47, 52, 0.01) 81.77%, rgba(0, 47, 52, 0.01));
}


/* Add this to your CSS file (e.g., styles.css) */
.gradient-border {
  background: linear-gradient(to right, #f59e0b, #3b82f6, #10b981);
}
